﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.9.1.custom.min.js")"></script>
    <script src="@Url.Content("~/Scripts/osmInit.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page">
        <header>
            <div>
                <a href="@Url.Action("Index", "Home")" style="text-decoration: none" title="Home Page"><p style="float: left"><img src="@Url.Content("~/Content/HelpMeTrack.png")" height=100px width=100px /></p>
                <!--<h1>Help me Track</h1></a>-->
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("О проекте", "About", "Home")</li>
                    <li>@Html.ActionLink("Transport", "All", "Transport")</li>
                    <li>@Html.ActionLink("Видео о проекте", "Video", "Home")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <!--<footer>
        </footer>-->
    </div>
    <div id="about">
        <p>Help me Track team, 2013</p>
    </div>
</body>
</html>
