﻿@model Help_me_track.Models.Transport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Transport</legend>

    <div class="display-label">Track</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Track)
    </div>

    <div class="display-label">Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">Num</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Num)
    </div>

    <div class="display-label">Lat</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lat)
    </div>

    <div class="display-label">Lon</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lon)
    </div>

    <div class="display-label">Load</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Load)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
