﻿@model Help_me_track.Models.Transport

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Transport</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Track)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Track)
            @Html.ValidationMessageFor(model => model.Track)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Num)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Num)
            @Html.ValidationMessageFor(model => model.Num)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lat)
            @Html.ValidationMessageFor(model => model.Lat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lon)
            @Html.ValidationMessageFor(model => model.Lon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Load)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Load)
            @Html.ValidationMessageFor(model => model.Load)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
