﻿@model IEnumerable<Help_me_track.Models.Transport>

@{
    ViewBag.Title = "Transport";
}

<h2>Transport</h2>

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>-->
<table>
    <tr>
        <th>
            Track
        </th>
        <th>
            Type
        </th>
        <th>
            Num
        </th>
        <th>
            Lat
        </th>
        <th>
            Lon
        </th>
        <th>
            Load
        </th>
        <!--<th></th>-->
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Track)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Load)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id }) -->
        </td>*@
    </tr>
}

</table>
