﻿@{
    ViewBag.Title = "О компании";
    
}

<h2>О проекте</h2>
    <b>Help me track demo</b>
    <li><b>@Html.ActionLink("Transport", "Index", "Transport")</b> - View all transport info</li>
    <li><b>@Html.ActionLink("Track", "Track", "Transport", new { id = "44" }, null)</b> - View detailed info about track [Track]</li>
    <li><b>@Html.ActionLink("View All", "All", "Transport")</b> - View all available transport as table</li>

    <b>Download Presentation 'Help Me Track'</b>
    <li><b><a href="@Url.Content("~/Content/help_me_track.ppt")">Help me Track</a></b></li>

<p>@{ 
    int i = 1;
    foreach (var s in Model){
          @s <br />
        if (i != 1) {
            <img src="@Url.Content("~/Content/Faces/"+(i-1).ToString()+".jpg")" /> <br /> <br />
    }
        i++;
    }
}</p>

