﻿@{
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}
    <title>Map</title>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.9.1.custom.min.js")"></script>
    <script src="@Url.Content("~/Scripts/osmInit.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<style>
    #feedback { font-size: 1em; }
    #selectable .ui-selecting { background: #FECA40; }
    #selectable .ui-selected { background: #F39814; color: white; }
    #selectable { list-style-type: none; margin: 0; padding: 0; width: 50%; }
    #selectable li { margin: 3px; padding: 0.4em; font-size: 1em; height: 18px; width: 100px; }
    #list_transport {position:absolute; left:700px; vertical-align: top; width:350px; float:right}
    #empty { position:absolute; top: 600px; left:50px; height: 50px; width:5px; }
</style>
    <script>
        $(function () {
            $("#selectable").selectable();
        });
        update_all_transport();
        setInterval(update_all_transport, 2000);

    </script>
 <body onload="init();">
     <div id="basicMap" style="width:640px;height:500px; float:left"></div>
     
  <div id="list_transport">
     <ol id="selectable">
      </ol> 
  </div>
  
  @for (int i = 0; i <= 27; i++)
  {
      <br />
  }
  <div id="empty"> </div>
</body>
