﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Видео о проекте";
}

<h2>Video</h2>

<iframe src="http://vk.com/video_ext.php?oid=22174307&id=164759449&hash=614729d25d74a934&sd" width="607" height="360" frameborder="0"></iframe>
